<ul id="child-registrations">
  <% child_registrations.each do |r| %>
    <li>
      <ul class="child">
        <li>
          <%= r.child.name %>
        </li>
        <li>
          <%= r.educational_stage %>
        </li>
        <li class="fee">
          <%= r.fee.amount.format %>
        </li>
        <li class="fee">
          <%= link_to 'remove', r, confirm: "Are you sure you want to remove #{r.child.name} from the application?", method: :delete %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
